#select-type-jeu{
    color:aliceblue;
}
#select-multiple{
    color:blue;
}
.listeJeu{
    display:flex;
    flex-direction:row;
}
#barre-recherche{
    min-width: 120;
}
#input-type{
    min-width: 120;
}
#input-zone{
    min-width: 120;
}

#button-create{
    background-color: orange;
    color:black !important;
}
#button-create:hover{
    background-color: blue;
    color: white;
}
#div-jeu{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#div-creation-jeu{
    margin-top: 2rem;
}