#select-type-jeu{
    color:white;
    background-color: rgb(118, 118, 118);
}
#select-multiple{
    color:rgb(255, 255, 255);
}
.listeJeu{
    display:flex;
    flex-direction:row;
}
#barre-recherche{
    min-width: 120;
}
#input-type{
    min-width: 120;
}
#input-zone{
    min-width: 120;
}

#button-create{
    background-color: orange;
    color:black !important;
}
#button-create:hover{
    background-color: blue;
    color: white;
}
#div-jeu{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#div-creation-jeu{
    margin-top: 2rem;
}
.input-class{
    margin-left: 1rem;
    background-color: rgb(53, 53, 53);
    color:white;
}
#formJeu{
    display:flex;
    flex-direction: column;
}
#formJeu label{
    margin-top: 2rem;
}

#bouton-submit-base{
    background-color: orange;
    color:black !important;
}
#button-submit:hover{
    background-color: blue;
    color: white;
}