Button{
    color: #121212!important;
    text-decoration:none;
}
#navBar{
    background-color: #757575!important;
    color: #121212;
}
.buttonNav:hover {
    background-color: #12121261!important;
}
