#div-utilisateur{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    color:aliceblue;
}

#button-create{
    background-color: orange;
    color:black !important;
}
#button-create:hover{
    background-color: blue;
    color: white;
}

#button-devenir{
    background-color: orange;
    color:black !important;
}
#button-devenir:hover{
    background-color: blue;
    color:white;
}
#div-creation-benevole{
    margin-top: 2rem;
}
#div-modifierMDP{
    justify-content: center;
    margin-top: 2rem;
}
#titre-MD{
    color:blue!important;
}
#formMDP{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#formMDP label{
    margin-top: 2rem;
}
.input-class{
    margin-left: 1rem;
    background-color: rgb(53, 53, 53);
    color:white;
}
#bouton-submit-mdp{
    background-color: orange;
    color:black !important;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}
#bouton-submit-mdp:hover{
    background-color: blue;
    color: white!important;
}
#formBase{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#formBase label{
    margin-top: 2rem;
}
#bouton-submit-base{
    background-color: orange;
    color:black !important;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

