.listeZone{
    display:flex;
    flex-direction:row;
}
#select-type-jeu{
    color:aliceblue;
}
#select-multiple{
    color:blue;
}
.add-attrib{
    background:green;
    float:right;
}
.link{
    color:whitesmoke;
}