#titre-ajout-jeu{
    color:white;
}
#bouton-ajout-jeu, #bouton-ajout-benevole{
    background-color: orange;
    color:black !important;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
}
#bouton-ajout-jeu:hover, #bouton-ajout-benevole:hover{
    background-color: blue;
    color:white;
}
.link-ajout-jeu{
    text-decoration: none;
    color:black;
}