#select-type-jeu{
    color:aliceblue;
}
#select-multiple{
    color:blue;
}
.add-attrib{
    background:green;
    float:right;
}
.linkZone{
    color: hsla(0, 0%, 100%, 0.5);
    text-decoration: none;
}
.linkZone:hover{
    color:greenyellow;
}
#div-zone{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}